.search-body {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
  background-color: white;
}

.search-body span,
.search-body p {
  max-width: 50%;
  flex: 0 0 50%;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  border-style: solid;
  border-color: #ff000038;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E3056C;
  font-weight: 600;

}

.search-body span {
  border-width: 0px 0px 1px 0px;
}

.search-body p {
  border-width: 0px 0px 1px 1px;
}

.search-body p:last-child {
  border-bottom: 0;
}

#lastspan {
  border: 0px !important;
}

@media (max-width: 767px) {
  .search-body {
    padding: 10px;
  }

  .search-body span,
  .search-body p {
    padding: 3px 0;
  }
}

@media (max-width: 460px) and (min-width: 640px) {
  #card {
    grid-column: span 6 / span 12;
  }
}

@media (max-width: 400px) {
  .search-body {
    padding: 3px;
  }

  .search-body span,
  .search-body p {
    padding: 2px 0;
    font-size: 12px;
  }
}