.home {
    &__top {
        background-image: url('../../../public/images/bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 0 100px 0;

        @media (max-width: 767px) {
            padding: 50px 0
        }

        h1 {
            text-align: center;
        }
    }

    // &__options {
    //     // background-color: red;
    // }

    &__achievements {
        img {
            height: 80px;
        }
    }
}