* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'SiyamRupali', Arial, sans-serif !important;
  font-size: 14px;
}

img {
  width: 100%;
}

section {
  padding: 50px 0;
}

a {
  text-decoration: none;
  // color: $primary;
}

// a:hover {
//   color: $primary__hover !important;
// }

.bangla {
  font-family: 'Hind Siliguri' !important;
}

svg {
  font-size: 2.5rem !important;
}

.minHeight {
  min-height: 60vh;
}